<div class="update-contact">
  <h1 class="update-contact-title">Update Contact</h1>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="update-form">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>
    <mat-dialog-actions class="action-btn">
      <button mat-raised-button class="cancel-btn" mat-dialog-close>
        Cancel
      </button>
      <button
        mat-raised-button
        class="update-btn"
        [disabled]="updateForm.invalid"
        type="submit"
      >
        Update
      </button>
    </mat-dialog-actions>
  </form>
</div>
